.Trail-card {
  position: relative;
  display: inline;
  background-color: black;
  background-repeat: no-repeat;
  outline:black solid;
  margin: 2%; 
  color: white;
  background-position:100%; 
  float: left;
  width: 410px;
  height: 380px;
}

.Trail-card-fav {
  
  position: relative;
  display: inline;
  background-color: black;
  background-repeat: no-repeat;
  outline:grey solid;
  margin: 2%; 
  color: white;
  background-position:100%; 
  float: left;
  width: 410px;
  height: 380px;
}

.Trails-card {
  position: relative;
  display: inline;
  background-color: black;
  background-repeat: no-repeat;
  outline:grey solid thick;
  margin: 2%; 
  color: white;
  background-position:100%; 
  float: left;
  width: 410px;
  height: 480px;
}

.Trail-cards{
  /* position: relative; */
  /* display: inline; */
  /* background-color:blue; */
  background-repeat: no-repeat;
  outline:lightgrey;
  /* margin-top:1%; */
  /* margin-left: 2%;  */
  color: black;
  background-position:100%; 
  float: left;
  width: 1500px;
  height: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  background-color: "rgba(50, 115, 220, 0.3)";
}

.fav-button {
  position: absolute;
  bottom: 358px;
  left: 384px;
  font-size: 11px;
  
}

.trails-page {
  background-color: #2F2FA2 ;
}

.home-page {
  background-color:black;
}


.button {
  position: relative;
  background-color:white;
  margin-left: 230px;
  margin-bottom: 200px;
  font-family: initial;
  font-size: 10px;
}

.button:hover{
  background-color:grey;
}

.del:hover{
  background-color: red ;
}


.image {
  
  height:300px;
  width:410px;
}


.bike {
  height: 500px;
  width: 900px;
}

.bikes {
  height: 500px;
  position: absolute;
  height: 70%;
  width: 100%;
  outline:black solid thick;

}

.search {
  /* color:black; */
  margin: 2%;
  top: 40px;
}

.label {
  margin: 7%;
}

.about {
  
  height:800px; 
  width:1500px
}

.about-create {

  height:800px; 
  width:1500px


}

.about-image {
  position: relative;

}

.about-des{
  position: absolute;
  bottom: 500px;
  margin: 4%;
  padding-right: 110px;
  color:white;
  left: 250px;
  font-size: 25px
}

.about-des1 {
  position: absolute;
  bottom:450px;
  font-size: 25px;
  color:white;
  left: 500px
}

.about-form {
  position: absolute;
  bottom: 50px;
  right: 750px;
  color:blue;

}

.login-input {
  position: absolute;
  bottom: 550px;
  right: 630px;
  /* background-color: white; */
  color: black;
  /* padding-left: 400px;
  padding-right: 20px; */
}

.login-buton {
  position: absolute;
  bottom: 10px;
  right: 60px;
  top: 70px;
  /* background-color: white; */
  /* color:white */
}

.delete {
  font-size: 2mm;
  /* text-align: right; */
 ;
}

.del {
  position: relative;
  margin-left: 345px;
  top: -24px;
  font-size: 10px;
}

.detailed-text {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 23px;
  position: relative;
  text-align:center;
  margin:2%
}

.detailed-text {
  animation: color-change 20s infinite ;
}

@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color:white; }
}

.player{
  width: 20%
}

.detail-button:hover{
  background-color: blue;
}


.login {
  background-image: url("https://trek.scene7.com/is/image/TrekBicycleProducts/TKW18_WEB_Marquees_3000x1688_MTB?$responsive-pjpg$&cache=on,on&wid=1920");
  height:800px; 
  width:1500px
}

.sort-trail {
  margin-left: 40%;
  margin-top: 2%

}

.trail-form {
  bottom: 1000px;
  right: 630px;
  margin: 10%
}

.nav {
  overflow: hidden;
  background-image:linear-gradient(to bottom right, red, yellow);
  font-size: 20px;
  height: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  }

 .nav Link {
    color: white
  }

  .nav Link:hover{
    font-display: black;
  }

.signup-button {
  color:white;
  top: 30px;
  bottom:30px 
}

.detailed-page {
  background-color: black;
  height: 800px;
  width: 1500px;
  color: white
}

.profile-page {
  background-color:black;
  opacity: 90% ;
  color:white;
  font-size: 25px;
  height:800px;
  font-family: cursive;
}

.profile-pic {
 border-radius: 50%;
 margin-top: 60px;
 height: 400px;
 width: 600px
}

.profile-detail {
  position: absolute;
  margin: 1%;
  bottom: 350px;
  margin-left: 7%
}
.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.menu-item{
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: red;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;

}

.sort-text {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white
}

.sort-search{
  background-color:black;
}

.input {
  width:500px
}

.muji {
  background-color: black;
  
}

.edit-profile {
  position: absolute;
  margin-left: 30%;
  font-size: 15px;
}

.edit-profile:hover{
  background-color: red;

}

.form-submit:hover{
background-color: orangered;
}

.event-des{
  margin-left: 40%;
   background-color:  rgba(50, 115, 220, 0.3)
}

.contact-form-class{
  color:black;
}

#contact{
  background-color:lightgrey;
  height: 800px
}

.event-button:hover{
background-color:   rgba(50, 115, 220, 0.3);

}

.event-button {
  font-size: 15px;

}

.fav-event-del {
  margin-left: 345px;
  font-size: 8px
}