.Trail-card {
  position: relative;
  display: inline;
  background-color: black;
  background-repeat: no-repeat;
  outline:black solid thick;
  margin: 2%; 
  color: white;
  background-position:100%; 
  float: left;
  width: 410px;
  height: 380px;
}

.fav-button {
  position: absolute;
  bottom: 355px;
  left: 382px;
  
}

.trails-page {
  background-color: #2F2FA2 ;
}

.home-page {
  background-color: #2F2FA2;
}


.button {
  position: relative;
  background-color:white;
  margin-left: 210px;
  margin-bottom: 200px;
  font-family: initial;
}

.button:hover{
  background-color:blue;
}


.image {
  
  height:300px;
  width:410px;
}


.bike {
  height: 500px;
  width: 900px;
}

.bikes {
  height: 500px;
  position: absolute;
  height: 70%;
  width: 100%;
  outline:black solid thick;

}

.search {
  /* color:black; */
  margin: 2%;
  top: 40px;
}

.label {
  margin: 7%;
}

.about {
  
  height:800px; 
  width:1500px
}

.about-create {

  height:800px; 
  width:1500px


}

.about-image {
  position: relative;

}

.about-des{
  position: absolute;
  bottom: 500px;
  margin: 4%;
  padding-right: 110px;
  color:white;
  left: 250px;
  font-size: 25px
}

.about-des1 {
  position: absolute;
  bottom:450px;
  font-size: 25px;
  color:white;
  left: 500px
}

.about-form {
  position: absolute;
  bottom: 250px;
  right: 630px;
  color:blue;

}

.login-input {
  position: absolute;
  bottom: 550px;
  right: 630px;
  /* background-color: white; */
  color: black;
  /* padding-left: 400px;
  padding-right: 20px; */
}

.login-buton {
  position: absolute;
  bottom: 10px;
  right: 60px;
  top: 70px;
  /* background-color: white; */
  /* color:white */
}

.delete {
  font-size: 2mm;
  /* text-align: right; */
 ;
}

.del {
  position: relative;
  margin-left: 330px;
  top: -20px
  /* bottom:1% */
  
}

.detail-page {
  height: 410px;
  width: 640px;
  margin-left:00%
}

.detailed-text {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  font-size: 18px;
  position: relative;
  margin: 1%
}

.login {
  background-image: url("https://trek.scene7.com/is/image/TrekBicycleProducts/TKW18_WEB_Marquees_3000x1688_MTB?$responsive-pjpg$&cache=on,on&wid=1920");
  height:800px; 
  width:1500px
}

.sort-trail {
  margin-left: 40%;
  margin-top: 2%

}

.trail-form {
  bottom: 1000px;
  right: 630px;
  margin: 10%
}

.nav {
  overflow: hidden;
  background-color: #2F2FA2;
  font-size: 20px;
  height: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  }

 .nav Link {
    color: white
  }
  /* .nav Link {
  
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      
  } */

.signup-button {
  color:white;
  top: 30px;
  bottom:30px 


}

.detailed-page {
  background-color: black;
  height: 800px;
  width: 1500px;
  color: white
}

.profile-page {
  background-color:black;
  opacity: 90% ;

  color:white;
  font-size: 25px;
  height:800px;
  font-family: cursive;
}

.profile-pic {
 border-radius: 50%;
 margin-top: 60px
}

.profile-detail {
  position: absolute;
  margin: 1%;
  bottom: 350px;
  margin-left: 7%
}
.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.menu-item{
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: red;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;

}

.sort-text {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white
}

.sort-search{
  background-color: #2F2FA2;
}